<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib
!pip install scikit-learn

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.7)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (12.0.0)
Requirement already satisfied: pyparsing>=3 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in /opt/conda/lib/python3.12/site-packages (from scikit-learn) (2.3.4)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (62 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (9.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.5/9.5 MB 139.4 MB/s eta 0:00:00
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (35.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.7/35.7 MB 168.6 MB/s eta 0:00:0000:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.3 threadpoolctl-3.6.0

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [2]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Kolon veri tipleri ve eksik değer sayıları
summary = pd.DataFrame({
    "DataType": df.dtypes,
    "Non-Null Count": df.notnull().sum(),
    "Missing Values": df.isnull().sum()
})

summary

             DataType  Non-Null Count  Missing Values
Respondent      int64           11552               0
MainBranch     object           11552               0
Hobbyist       object           11552               0
OpenSourcer    object           11552               0
OpenSource     object           11471              81
...               ...             ...             ...
Sexuality      object           11005             547
Ethnicity      object           10869             683
Dependents     object           11408             144
SurveyLength   object           11533              19
SurveyEase     object           11538              14

[85 rows x 3 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Sadece sayısal kolonlar için temel istatistikleri al
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,11552.000000,1.073700e+04,1.073000e+04,11427.000000,9083.000000,11255.000000
mean,12362.212517,7.499932e+05,1.313340e+05,42.051851,4.762829,30.772394
std,7271.939210,9.639522e+06,2.943245e+05,24.528561,4.548401,7.392780
min,4.000000,0.000000e+00,0.000000e+00,3.000000,0.000000,16.000000
25%,6011.500000,2.500000e+04,2.672700e+04,40.000000,2.000000,25.000000
50%,12323.500000,6.500000e+04,5.774400e+04,40.000000,4.000000,29.000000
75%,18686.500000,1.200000e+05,1.000000e+05,43.000000,5.000000,35.000000
max,25142.000000,7.000000e+08,2.000000e+06,1012.000000,99.000000,99.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Country sütunundaki benzersiz değerleri ve sayısını göster
print(df['Country'].value_counts(dropna=False).head(20))

# Boş veya NaN değerlerin sayısı
print("Missing values in 'Country':", df['Country'].isna().sum())

Country
United States         3173
India                  911
United Kingdom         841
Germany                715
Canada                 442
France                 339
Brazil                 328
Australia              287
Netherlands            259
Spain                  257
Russian Federation     211
Poland                 205
Italy                  188
Sweden                 162
Switzerland            151
Ukraine                111
South Africa           104
Israel                 104
Mexico                  98
Turkey                  98
Name: count, dtype: int64
Missing values in 'Country': 0

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [7]:
# Örnek: Country sütunundaki bazı varyasyonları standartlaştırma
country_mapping = {
    "United States": "USA",
    "United Kingdom": "UK",
    "Russian Federation": "Russia",
    "Brasil": "Brazil",  # yazım hatası varsa
    # gerekirse diğer ülke varyasyonlarını da ekleyebilirsin
}

df['Country'] = df['Country'].replace(country_mapping)

# Örnek: EdLevel sütunu için standartlaştırma
edlevel_mapping = {
    "Bachelor’s degree (B.A., B.S., B.Eng., etc.)": "Bachelor",
    "Master’s degree (M.A., M.S., M.Eng., MBA, etc.)": "Master",
    "Some college/university study without earning a degree": "Some College",
    "Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)": "High School",
    "Primary/elementary school": "Primary",
    # diğer varyasyonlar eklenebilir
}

df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [8]:
# One-hot encoding uygulama
employment_dummies = pd.get_dummies(df['Employment'], prefix='Employment')

# Orijinal DataFrame'e ekleme
df = pd.concat([df, employment_dummies], axis=1)

# Orijinal sütunu kaldırmak istersen:
# df.drop('Employment', axis=1, inplace=True)

# Sonucu kontrol et
print(df.head())

   Respondent                      MainBranch Hobbyist  \
0           4  I am a developer by profession       No
1           9  I am a developer by profession      Yes
2          13  I am a developer by profession      Yes
3          16  I am a developer by profession      Yes
4          17  I am a developer by profession      Yes

                                         OpenSourcer  \
0                                              Never
1                         Once a month or more often
2  Less than once a month but more than once per ...
3                                              Never
4  Less than once a month but more than once per ...

                                          OpenSource          Employment  \
0  The quality of OSS and closed source software ...  Employed full-time
1  The quality of OSS and closed source software ...  Employed full-time
2  OSS is, on average, of HIGHER quality than pro...  Employed full-time
3  The quality of OSS and closed source software ...  Employed full-time
4  The quality of OSS and closed source software ...  Employed full-time

       Country Student                                      EdLevel  \
0          USA      No     Bachelor’s degree (BA, BS, B.Eng., etc.)
1  New Zealand      No                                 Some College
2          USA      No  Master’s degree (MA, MS, M.Eng., MBA, etc.)
3           UK      No  Master’s degree (MA, MS, M.Eng., MBA, etc.)
4    Australia      No     Bachelor’s degree (BA, BS, B.Eng., etc.)

                                      UndergradMajor  ...   Age Gender Trans  \
0  Computer science, computer engineering, or sof...  ...  22.0    Man    No
1  Computer science, computer engineering, or sof...  ...  23.0    Man    No
2  Computer science, computer engineering, or sof...  ...  28.0    Man    No
3                                                NaN  ...  26.0    Man    No
4  Computer science, computer engineering, or sof...  ...  29.0    Man    No

                 Sexuality                              Ethnicity Dependents  \
0  Straight / Heterosexual           White or of European descent         No
1                 Bisexual           White or of European descent         No
2  Straight / Heterosexual           White or of European descent        Yes
3  Straight / Heterosexual           White or of European descent         No
4  Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial         No

            SurveyLength                  SurveyEase  \
0  Appropriate in length                        Easy
1  Appropriate in length  Neither easy nor difficult
2  Appropriate in length                        Easy
3  Appropriate in length  Neither easy nor difficult
4  Appropriate in length                        Easy

  Employment_Employed full-time Employment_Employed part-time
0                          True                         False
1                          True                         False
2                          True                         False
3                          True                         False
4                          True                         False

[5 rows x 87 columns]

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [9]:
# Tüm sütunlardaki eksik değer sayısını hesapla
missing_counts = df.isnull().sum()

# Eksik değerleri büyükten küçüğe sırala
missing_counts_sorted = missing_counts.sort_values(ascending=False)

# İlk 10 sütunu göster
print(missing_counts_sorted.head(10))

BlockchainIs              2637
CodeRevHrs                2469
BlockchainOrg             2354
MiscTechWorkedWith        2209
SONewContent              1995
SOHowMuchTime             1936
WebFrameDesireNextYear    1634
MiscTechDesireNextYear    1474
WebFrameWorkedWith        1413
SOPartFreq                1148
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [12]:
print(df.columns)

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase',
       'Employment_Employed full-time', 'Employment_Employed part-time'],
      dtype='object')

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [13]:
# Medyanı hesapla
median_comp = df['ConvertedComp'].median()

# Eksik değerleri medyan ile doldur
df['ConvertedComp'] = df['ConvertedComp'].fillna(median_comp)

# Kontrol et
missing_after = df['ConvertedComp'].isna().sum()
print("Missing values in 'ConvertedComp' after imputation:", missing_after)

Missing values in 'ConvertedComp' after imputation: 0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [14]:
# Min-Max normalizasyonu
df['ConvertedComp_MinMax'] = (df['ConvertedComp'] - df['ConvertedComp'].min()) / (df['ConvertedComp'].max() - df['ConvertedComp'].min())

# Kontrol edelim
df[['ConvertedComp', 'ConvertedComp_MinMax']].head()

   ConvertedComp  ConvertedComp_MinMax
0        61000.0              0.030500
1        95179.0              0.047589
2        90000.0              0.045000
3       455352.0              0.227676
4        65277.0              0.032639

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [15]:
import numpy as np

# Log dönüşümü uygula
df['ConvertedComp_Log'] = np.log1p(df['ConvertedComp'])

# İlk birkaç satırı görüntüle
df[['ConvertedComp', 'ConvertedComp_Log']].head()

   ConvertedComp  ConvertedComp_Log
0        61000.0          11.018646
1        95179.0          11.463525
2        90000.0          11.407576
3       455352.0          13.028828
4        65277.0          11.086410

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# ExperienceLevel dağılımı
plt.figure(figsize=(8,5))
sns.countplot(data=df, x='ExperienceLevel', order=['Junior', 'Mid', 'Senior', 'Expert'], palette='viridis')
plt.title('Distribution of ExperienceLevel')
plt.xlabel('Experience Level')
plt.ylabel('Count')
plt.show()

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.